@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>
<br /><br /><h4>Pragyan Acharya</h4>

<address>
    <strong>Email:</strong>   <a href="mailto:patipragyan@gmail.com">patipragyan@gmail.com</a><br />
</address>