@{
    ViewBag.Title = "Instructions";
}

<p>
    <h3>
        Welcome to Numeric Sequence Calculator !!!
    </h3>
    <br>
<p>
    Please read the below instruction before generating the numeric sequence.
    <br><br>
    This calculator accepts a numeric value and generates the sequence.The following numeric sequences are generated:
    <ul>
        <li>
            All numbers up to and including the number entered
        </li>
        <li>
            All odd numbers up to and including the number entered
        </li>
        <li>
            All even numbers up to and including the number entered
        </li>
        <li>
            All numbers up to and including the number entered, except when
            <ul>
                <li>
                    A number is a multiple of 3 output C, and when,
                </li>
                <li>
                    A number is a multiple of 5 output E, and when
                </li>
                <li>
                    A number is a multiple of both 3 and 5 output Z
                </li>
            </ul>
        <li>  All fibonacci number up to and including the number entered.</li>


    </ul>
</p>

